<!DOCTYPE html>
<html>
	<body>
		<h1>University Apis Application</h1>
		<br>
		<ul>
			<li><b>University Apis Application is a CRUD Api Application for Universities.</b><br><br></li>
			<li><b>In addition to the CRUD Apis it consists of a  Search/Filter Api for Universities.</b><br><br></li>
			<li><b>The Github link to the application is <a href="https://github.com/sahildiwan94/universityCRUD.git">Github Link.</a></b><br><br></li>
			<li><b>The details of all the apis are given in university_apis/docs/university_apis.json file.</b><br><br></li>
			<li><b>The documentation is given in the university_apis/Readme.md file.</b></li>
		</p>
	</body>
</html> 
